---
layout: base.njk
title: equipment
---

<h1>equipment</h1>
<p>(click on the images to see larger versions, use your browser's back button)</p>
<h2>acoustic cello</h2>
<p>I inherited my acoustic cello from my grandfather. It was built by Neuner & Hornsteiner in Mittenwald, 1908</p>
    <div class="galerie">
	{% bild "./equipment/img/cello1.jpg", "acoustic cello, front" %}
	{% bild "./equipment/img/cello2.jpg", "acoustic cello, back" %}
	{% bild "./equipment/img/choppedBow.jpg", "my bow after some months of practicing chops" %}
</div>
<h2>electric cello</h2>
<p>I have a <a href="https://thinkns.com/instrument/ns-design-electric-cello/ns-design-electric-cello-nxta/"> NXT5a electric cello</a></p>
<div class="galerie">
    {% bild "./equipment/img/nxt5a_1.jpg", "electric cello, in a very compact gig bag" %}
    {% bild "./equipment/img/nxt5a_2.jpg", "the bigger part of the end pin fits on the outside" %}
    {% bild "./equipment/img/nxt5a_3.jpg", "the second part of the end pin is inside the main bag, which also contains an inner bag..." %}
    {% bild "./equipment/img/nxt5a_4.jpg", "...the inner bag holds the elelectric cello. It is a NXT5a with a low F string." %}
    {% bild "./equipment/img/nxt5a_5.jpg", "the two parts of the end pin, still apart" %}
    {% bild "./equipment/img/nxt5a_6.jpg", "the two parts of the end pin, now connected" %}
    {% bild "./equipment/img/nxt5a_7.jpg", "backside view of the NXTa" %}
    {% bild "./equipment/img/nxt5a_8.jpg", "connecting the cello body to the end pin construction" %}
    {% bild "./equipment/img/nxt5a_9.jpg", "cello hanging on the wall - just grab and play!" %}
    {% bild "./equipment/img/nxt5a_10.jpg", "closeup - it is just hanging on a small hook in the wall" %}
</div>
<h2>electric gear</h2>
<p>more details coming later, for the moment just a quick list</p>
<ul>
    <li>headphone amp: NUX Mighty Plug Pro, I use it most of the time as it is such an easy setup - just plug in my headphones in the 3.5mm jack and start, features IR (impulse response) and can be used as an USB interface to get the digital output of the device directly to a DAW (recording computer)</li>
    <li>multi effects processor: Harley Benton DNAfx GiT, I bought it with the electric cello, was curious about trying various effects, wanted to use it also as preamp (which is possible but not ideal), don't use it very much currently</li>
    <li>Looper pedal: BOSS RC-500</li>
</ul>

<div class="galerie">
    {% bild "./equipment/img/nux_2.jpg", "plugged in almost all the time" %}
    {% bild "./equipment/img/case_1.jpg", "so far, all my electric equipment fits either in the NXTa bag or in this case" %}
    {% bild "./equipment/img/case_2.jpg", "electric equipment inside case" %}
    {% bild "./equipment/img/pedals.jpg", "multi effects pedal, looper pedal, power bank, and some cables" %}
</div>
